<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura - principal</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<!-- PAGINA OPÇOES DE ANALISE -->
<body>
    <nav>
        <img src="/static/ui-design/Group 19674.png" alt="">
        <p>{{ user }}</p>
    </nav>
    <hr><br><br>
    <div class="cabecario">
        <p class="p-info" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eius eaque enim, ipsa repudiandae obcaecati magnam quim.</p>
    </div>
    <section class="analise" >
        <br>
        <a href="/views/malaria.html" class="link-analise">Malária</a>
        <a href="#" class="link-analise">Febre tifoide</a>
    </section>
    <section class="sec-btn" >
        <button>Cancelar</button>
    </section>
</body>
</html>