<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura - teste malária</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<style>
    h2{
        color: #00112B;
        margin-left: 7%;
    }
</style>
<body>
    <nav>
        <img src="/static/ui-design/Group 19674.png" alt="">
        <p>{{ user }}</p>
    </nav>
    <hr><br><br>
    <h2>Teste de malária</h2>
    <section class="analise" >
        <br>
        <a href="#" class="link-analise">Peso</a>
        <a href="#" class="link-analise">BPM</a>
        <a href="#" class="link-analise">Temperatura</a>
    </section>
    <section class="sec-btn" >
        <button>Cancelar</button>
    </section>
</body>
</html>